torch
dgl
numpy
pandas
matplotlib
scikit-learn
networkx
matplotlib
seaborn
jupyter
jupyter-server
ipykernel
pyarrow
transformers
typing_extensions
tree_sitter
tree_sitter_c
tree_sitter_python
tree_sitter_java
tree_sitter_cpp

